.note {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	border: 1px dashed #000000;
}

.note:hover {
	z-index: 1000;
}

.note.completed {
	border-color: transparent;
}

.note .border {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 100%;
	height: 100%;
	padding: 2px;
	outline: 5px solid #f8344e;
	background: transparent url(../images/white-1x1.png) repeat center scroll;
	cursor: move;
}

.note.completed .border {
	outline-color: #1c9cb1;
	cursor: auto;
}

.note .n-note {
	position: absolute;
	top: -16px;
	left: -16px;
	width: 32px;
	height: 32px;
	background: transparent url(../images/circle-note.png) no-repeat 0px 0px scroll;
}

.note.completed .n-note {
	background-position: 100% 100%;
}

.n-note .number {
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

.note .delete {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 24px;
	height: 24px;
	background: transparent url(../images/delete-note.png) no-repeat 0px 0px scroll;
	cursor: pointer;
}

.note.completed .delete {
	display: none;
}

.note .corner {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #000000;
	border-radius: 6px;
	background-color: #ffffff;
}

.note.completed .corner {
	display: none;
}

.note .bottom-left {
	bottom: -8px;
	left: -8px;
	cursor: sw-resize
}

.note .bottom-right {
	bottom: -8px;
	right: -8px;
	cursor: se-resize;
}

.note-body {
	display: none;
	position: absolute;
	padding: 15px;
	border-radius: 6px;
	overflow: visible;
	background: #eaeaea;
	word-wrap: break-word;
	/*bottom: -135px;*/
	cursor: auto;
}

.note-body textarea {
	display: block;
	width: 240px;
	height: 60px;
	resize: none;
}

.note-body button {
	margin: 0;
}

.note-body .arrow {
	position: absolute;
	top: -18px;
	left: 15px;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-bottom-color: #eaeaea;
}

.note-body .note {
	display: none;
	margin: 0;
}

.note-body .text {
	max-height: 200px;
	margin: 0;
	overflow-y: auto;
}